[submodule "vim/plugins/vim-pathogen"]
	path = vim/plugins/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/plugins/Wombat"]
	path = vim/plugins/Wombat
	url = https://github.com/vim-scripts/Wombat.git
[submodule "vim/plugins/vim-surround"]
	path = vim/plugins/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/plugins/vim-repeat"]
	path = vim/plugins/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/plugins/vim-go"]
	path = vim/plugins/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/plugins/vim-fugitive"]
	path = vim/plugins/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/plugins/LaTeX-Box"]
	path = vim/plugins/LaTeX-Box
	url = https://github.com/LaTeX-Box-Team/LaTeX-Box.git
[submodule "vim/plugins/ultisnips"]
	path = vim/plugins/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim/plugins/Nvim-R"]
	path = vim/plugins/Nvim-R
	url = https://github.com/jalvesaq/Nvim-R.git
[submodule "vim/plugins/undotree"]
	path = vim/plugins/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "vim/plugins/typescript-vim"]
	path = vim/plugins/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vim/plugins/vimproc.vim"]
	path = vim/plugins/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
