snippet ( "Bracket" i
(${1})${0}
endsnippet

snippet { "Curly Bracket" i
{${1}}${0}
endsnippet

snippet {l "Curly Bracket With Empty Line" i
{
    ${1}
}${0}
endsnippet

snippet [ "Square Bracket" i
[${1}]${0}
endsnippet

snippet < "Angle Bracket" i
<${1}>${0}
endsnippet

snippet " "Double Quotation Marks" i
"${1}"${0}
endsnippet

snippet ' "Single Quotation Marks" i
'${1}'${0}
endsnippet
